# This yml will work after the images have been created of the Basic implementation of the fullstack app
version: "3.9"

networks:
  bth-spark-net:
    driver: bridge

services:
  # auth service pushed image service
  # server-auth:
  # # Uncomment next line after building the iamges and pushing to dockerhub and comment out the build task lines for all services.
  #   # image: hihassan1998/spark-auth-server:1.0
  #   build: ../auth-server-service 
  #   container_name: auth-api-server
  #   networks:
  #     - bth-spark-net
  #   ports:
  #     - "3001:3000"
  #   restart: unless-stopped
  #   volumes:
  #     - ../auth-service:/app 
  
  # user service pushed image
  server-user:
    # image: hihassan1998/spark-user-server:1.0
    build: ../user-server-service
    container_name: user-api-server
    networks:
      - bth-spark-net
    ports:
      - "3002:3000"
    restart: unless-stopped
    volumes:
      - ../user-server-service:/app
    command: ["npm", "run", "dev"]
  
  # frontend service pushed image user UI
  # webclientuser:
  #   # image: hihassan1998/spark-webclient-user:1.0
  #   build: ../frontend-user-service
  #   container_name: spark-webclient-user
  #   networks:
  #     - bth-spark-net
  #   ports:
  #     - "3003:5173"
  #   restart: unless-stopped
  #   command: ["npm", "run", "dev"]
  #   volumes:
  #     - ../frontend-user-service:/app
  
  # frontend service pushed image admin UI
  # webclientadmin:
  #   # image: hihassan1998/spark-webclient-admin:1.0
  #   build: ../frontend-admin-service
  #   container_name: spark-webclient-admin
  #   networks:
  #     - bth-spark-net
  #   ports:
  #     - "3004:5173"
  #   restart: unless-stopped
  #   command: ["npm", "run", "dev"]
  #   volumes:
  #     - ../frontend-admin-service:/app
